spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # User Service Routes
        - id: user-service-auth
          uri: ${USER_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/$\{segment}
        
        - id: user-service-users
          uri: ${USER_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/$\{segment}
        
        # Event Service Routes
        - id: event-service
          uri: ${EVENT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/events/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/$\{segment}
        
        # Invitation Routes (also to event-service)
        - id: invitation-service
          uri: ${EVENT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/invitations/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/$\{segment}
        
        # Notification Service Routes
        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/notifications/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/$\{segment}
      
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:5173"
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
