spring:
  application:
    name: event-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/eventflow_events}
    username: ${DB_USER:eventflow}
    password: ${DB_PASS:eventflow123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:eventflow}
    password: ${RABBITMQ_PASS:eventflow123}

server:
  port: 8082

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.eventflow.eventservice: DEBUG
    org.springframework.web: DEBUG
